<div class='book'>
	<div class='book-navigation'>
		<ol class='chapter-list'>
			{{#each chapters as |chapter|}}
				<li class='chapter-item flexcol'>
					<header class='flexrow'>
						<a class='chapter-link' onclick='book_show_page(event, this)' href="#content_{{chapter._id}}" data-selected="false" <h3>{{chapter.name}}</h3></a>
					</header>
					{{#if chapter.subchapters}}
						<ol class='subchapter-list'>
							{{#each chapter.subchapters as |subchapter|}}
								<li class='chapter-item flexcol'>
									<header class='flexrow'>
										<a class='chapter-link' onclick='book_show_page(event, this)' href="#content_{{subchapter._id}}" data-selected="false" <h3>{{subchapter.name}}</h3></a>
									</header>
									{{#if subchapter.subchapters}}
										<ol class='subchapter-list'>
											{{#each subchapter.subchapters as |sc|}}
												<li class='chapter-item flexcol'>
													<header class='flexrow'>
														<a class='chapter-link' onclick='book_show_page(event, this)' href="#content_{{sc._id}}" data-selected="false" <h3>{{sc.name}}</h3></a>
													</header>
												</li>
											{{/each}}
										</ol>
									{{/if}}
								</li>
							{{/each}}
						</ol>
					{{/if}}
				</li>
			{{/each}}
		</ol>
	</div>
	<div class='book-content'>
		<div class='chapter-section' id="content_cover">
			<img src="http://media-waterdeep.cursecdn.com/attachments/2/723/phbcover.jpg", alt="Player's Handbook Cover"/>
		</div>
		{{#each chapters as |chapter|}}
			<div class='chapter-section' style="display:none" id="content_{{chapter._id}}">
				<h1 class='phb-part'>{{chapter.name}}</h1>
				{{#if chapter.data }}
					{{{chapter.data.content}}}
					<p>&nbsp</p>
				{{/if}}
				{{#if chapter.subchapters}}
					{{#each chapter.subchapters as |subchapter|}}
						<div class='chapter-section' style="display:none" id="content_{{subchapter._id}}">
							<h2 class='phb-chapter'>{{subchapter.name}}</h2>
							{{#if subchapter.data }}
								{{{subchapter.data.content}}}
								<p>&nbsp</p>
							{{/if}}
							{{#if subchapter.subchapters}}
								{{#each subchapter.subchapters as |sc|}}
									<div class='chapter-section' style="display:none" id="content_{{sc._id}}">
											<h3 class='phb-section'>{{sc.name}}</h3>
											{{{sc.data.content}}}
											<p>&nbsp</p>
									</div>
								{{/each}}
							{{/if}}
						</div>
					{{/each}}
				{{/if}}
			</div>
			{{/each}}
	</div>
</div>