button.view-phb {
	flex-basis: 100% !important;
	margin: 1% !important;
}

div.book {
	display: flex;
}

div.book-navigation {
	min-width: 20em !important;
	max-width: 20em !important;
}

div.book-content {
	flex:1;
}

ol.chapter-list {
    flex: 1;
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
    scrollbar-width: thin;
}

ol.subchapter-list {
    list-style: none;
    margin: 0;
    padding: 0 0 0 1em;
}

a.chapter-link {
	color: black !important;
}

h1.phb-part {
	font-size: 3em !important;
	color: #782e22 !important;
	border: none !important;
}

h2.phb-chapter {
	font-size: 2.25em !important;
	color: #782e22 !important;
	border: none !important;
	margin-top: 1em;
}

h3.phb-section {
	font-size: 2em !important;
	color: #782e22 !important;
	border: none !important;
	margin-top: 1em;
}

h4.phb-subsection {
	display: flex;
	font-size: 1.5em !important;
    color: #782e22 !important;
    border-bottom: 1px solid #782e22 !important;
	margin-top: 1em;
}

h5.phb-subsubsection {
	font-size: 1.25em !important;
    color: #782e22 !important;
	margin-block-end: 0em !important;
	font-weight: normal !important;
	margin-top: 1em;
}

section.inset {
	margin-top: 1em;
	border-top: 2px solid black !important;
    border-bottom: 2px solid black !important;
    background: #BFEDD2;
    padding: .5em;
    box-shadow: 5px 5px 8px #888888;
}