button.view-phb {
	flex-basis: 100% !important;
	margin: 1% !important;
}

div.book {
	display: flex;
    flex-wrap: nowrap;
}

div.book-navigation {
	flex:1 !important;
	width: 20% !important;
	min-width: 20% !important;
	max-width: 20% !important;
	overflow-y: auto;
    overflow-x: hidden;
}

div.book-content {
	flex:1
	overflow-y: auto;
    overflow-x: hidden;
}

ol.chapter-list {
    flex: 1;
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
    overflow-y: auto;
    scrollbar-width: thin;
}

ol.subchapter-list {
    list-style: none;
    margin: 0;
    padding: 0 0 0 1em;
}

a.chapter-link {
	color: black !important;
}