button.view-phb {
	flex-basis: 100% !important;
	margin: 1% !important;
}

div.book {
	display: flex;
}

div.book-navigation {
	min-width: 20em !important;
	max-width: 20em !important;
}

div.book-content {
	flex:1;
}

ol.chapter-list {
    flex: 1;
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
    scrollbar-width: thin;
}

ol.subchapter-list {
    list-style: none;
    margin: 0;
    padding: 0 0 0 1em;
}

a.chapter-link {
	color: black !important;
}